@import "main.scss";

.messageDashboard {
    color: $green;
}

.dashboardCard {
    width: 80%;
    margin-left: 10%;
    box-shadow: 0 0 10px rgba(1,1,1,0.2);
    border-radius: 20px;
    min-height: 150px;
    margin-bottom: 40px;
    padding-bottom: 20px;

    .dashboardCard_Heading_div {
        background-color: $blue;
        border-radius: 20px 20px 0 0;
        padding: 10px 20px;

        .dashboardCard_Heading {
            color: white;
            margin: 0;
            background-color: $blue;
            box-shadow: none;
            border: none;
            font-size: 20px;

            &:focus {
                outline: none;
            }
        }
    }

    .textarea {
        width: calc(100% - 20px);
        min-width: calc(100% - 20px);
        max-width: calc(100% - 20px);
        min-height: 80px;
        margin: 10px;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .color {
        margin: 10px;
        width: calc(100% - 20px);
    }

    .submitButton {
        width: calc(100% - 20px);
        box-shadow: 0 0 10px rgba(1,1,1,0.2);
        padding: 10px 0;
        margin-left: 10px;
        border-radius: 10px;

        &:hover {
            cursor: pointer;
        }

        p {
            margin: 0;
        }

        
    }

}