$blue: #00387A;
$red: #FF3A36;
$yellow: #FFDA00;
$green: #00BC2B;

body {
    margin: 0;
    font-family: 'Avenir';
}

@keyframes open_trafficLight {
    30% {
        transform: rotate(90deg);
        left: 18%;
        top: 5%;
    }
    100% {
        left: 8%;
        top: 25%;
        transform: rotate(0deg);
        
    }
}

@keyframes close_trafficLight {
    0% {
        left: 8%;
        top: 25%;
        transform: rotate(0deg);
        
    }
    70% {
        transform: rotate(90deg);
        left: 18%;
        // top: 5%;
    }
    100% {
        transform: rotate(90deg);
        left: 18%;
        // top: 5%;
    }
}

@keyframes open_card {
    0% {
        height: 130px;
    }
    100% {
        height: 290px;
    }
}

@keyframes close_card {
    0% {
        height: 290px;
    }
    100% {
        height: 130px;
    }
    
}

@keyframes open_Description {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        
    }
}

@keyframes close_Description {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        
    }
}

@keyframes open_moreButton {
    0% {
        top: 50%;
    }
    100% {
        top: 80%
    }
}

@keyframes close_moreButton {
    0% {
        top: 80%;
    }
    100% {
        top: 50%
    }
}




.contentWrapper {
    max-width: 500px;
    margin: 0 auto;

    .logo {
        width: 70%;
        margin-left: 15%;
        margin-top: 20px;
    }

    .card {
        width: 80%;
        margin-left: 10%;
        height: 130px;
        box-shadow: 0 0 10px rgba(1,1,1,0.2);
        border-radius: 20px;
        margin-top: 40px;
        position: relative;
        transition: 300ms;

        // animation: open_card 3000ms ease-in-out forwards;
        animation-delay: 1500ms;

        .card_Heading_Div {
            background-color: $blue;
            border-radius: 20px 20px 0 0;
            padding: 10px 20px;

            .card_Heading {
                color: white;
                margin: 0;
            }
        }

        .trafficLight {
            transform: rotate(90deg);



            position: absolute;
            left: 18%;
            top: 5%;
            height: 33vw;
            width: 13vw;
            box-shadow: 0 0 10px rgba(1,1,1,0.2);;
            border-radius: 10px;
            max-width: 59px;
            max-height: 159px;
            // animation: open_trafficLight 3000ms ease-in-out forwards;
            animation-delay: 2s;

            .trafficLightBulbMarginLeft {
                width: 3vw;
                max-width: 13.5px;
                height: 100%;
                float: left;
            }

            .trafficLightBulb_Margin_Top {
                height: 3vw;
                max-height: 16px;
                width: 100%;
            }

            .trafficLightBulb_Wrapper {
                display: grid;

                .trafficLightBulb {
                    width: 7vw;
                    max-width: 32px;
                    height: 7vw;
                    max-height: 32px;
                    background-color: $blue;
                    border-radius: 1000px;
                    opacity: 0.2;
    
                    &.red {
                        background-color: $red;
                    }

                    &.yellow {
                        background-color: $yellow;
                    }

                    &.green {
                        background-color: $green;
                    }

                    &.selected {
                        opacity: 1;
                    }
                }
            }

            &.red .trafficLightBulb_Wrapper .trafficLightBulb {
                &.red {
                    opacity: 1;
                }
            }

            &.yellow .trafficLightBulb_Wrapper .trafficLightBulb {
                &.yellow {
                    opacity: 1;
                }
            }

            &.green .trafficLightBulb_Wrapper .trafficLightBulb {
                &.green {
                    opacity: 1;
                }
            }
            
        }

        .description {
            padding-left: 30%;
            padding-right: 10%;
            p {
                display: inline-block
            }
            
        }

        .moreButton {
            // background-color: $red;
            right: 8%;
            // background-color: rgba(1,1,1,0.2);
            // background-color: $blue;
            // color: white;
            box-shadow: 0 0 10px rgba(1,1,1,0.2);
            border-radius: 10px;
            top: 50%;
            padding: 10px;
            position: absolute;
            width: 30%;
            text-align: center;

            p {
                margin: 0;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    .footer {
        width: 90%;
        min-height: 50px;
        margin-top: 50px;
        text-align: center;
        padding: 5%;

        p {
            opacity: 0.5;
            margin-top: 40px;
        }
        .mail {
            color: $blue;
            opacity: 1;
        }

        .corona_Melden {
            border-radius: 10px;
            text-decoration: none;
            background-color: $red;
            width: 70%;
            margin-left: 10%;
            padding: 5%;
            color: white;
            margin-bottom: 20px;
            display: flex;
            height: 33px;
            justify-content: space-around;
            cursor: pointer;
            
            &.stupa {
                background-color: $blue;
            }

            .corona_Melden_Wrapper {
                display: flex;
                p {
                    opacity: 1 !important;
                    margin-top: 4px;
                    margin-left: 5px;
                }
                .corona {
                    margin-top: -6px;
                    height: 45px;
                }

                
            }
            
        }
    }
}

// doing crap over here: Dont look a it

@media only screen and (max-width: 320px) {
    .contentWrapper .card .trafficLight {
        top: 25%;
    }
}


@media only screen and (min-width: 320px) and (max-width: 350px) {
    .contentWrapper .card .trafficLight {
        top: 22%;
    }
}

@media only screen and (min-width: 350px) and (max-width: 375px) {
    .contentWrapper .card .trafficLight {
        top: 17%;
    }
}

@media only screen and (min-width: 375px) and (max-width: 400px) {
    .contentWrapper .card .trafficLight {
        top: 15%;
    }
}

@media only screen and (min-width: 400px) and (max-width: 425px) {
    .contentWrapper .card .trafficLight {
        top: 12%;
    }
}

@media only screen and (min-width: 425px) and (max-width: 450px) {
    .contentWrapper .card .trafficLight {
        top: 9%;
    }
}