<html>
    <head>
        <title>NAK Corona Lights</title>
        <link href="/assets/css/main.css" rel="stylesheet">
        <link href="/assets/css/impressum.css" rel="stylesheet">
        <script data-goatcounter="https://nakcoronalights.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;700&family=Roboto&display=swap" rel="stylesheet">

        
    </head>

    <body>
        <div class="contentWrapper">
            <img class="logo" src="/assets/images/logo.jpg">

            <h1>Impressum</h1>

            <p>Studierendenparlament der </p>
            <p>NORDAKADEMIE gemeinnützige Aktiengesellschaft Hochschule der Wirtschaft </p>
            <p style="margin-top: 50px;">Köllner Chaussee 11</p>
            <p>25337 Elmshorn</p>

            <p style="margin-top: 50px;">Telefon: +49 (0)4121 4090-0 </p>
            <p><a href="mailto:stupa@nordakademie.de">E-Mail: stupa@nordakademie.de</a></p>
            <p><a href="https://www.nordakademie.de">www.nordakademie.de</a></p>


            <div class="footer">
                <div class="corona_Melden backButton" onclick="window.location = '/'">
                    <div class="corona_Melden_Wrapper" >
                        <img class="backIcon" src="/assets/images/back.png">
                        <p>Zurück</p>
                    </div>
                </div>

                <div class="corona_Melden backButton downloadButton" onclick="window.location = '/download'">
                    <div class="corona_Melden_Wrapper" >
                        <img class="backIcon" src="/assets/images/down.png">
                        <p>Materialien runterladen</p>
                    </div>
                </div>
                
                <div class="corona_Melden" onclick="mail('corona@nordakademie.de')">
                    <div class="corona_Melden_Wrapper" >
                        <img class="corona" src="/assets/images/corona.png">
                        <p>Fall melden</p>
                    </div>
                </div>

                <div class="corona_Melden stupa" onclick="mail('stupa@nordakademie.de')">
                    <div class="corona_Melden_Wrapper">
                        <img class="corona" src="/assets/images/stupa.png">
                        <p>StuPa kontaktieren</p>
                    </div>
                </div>


                <img class="logoFooter" src="/assets/images/logo.png">

                <p>© 2022, Elias Peeters</p>

                <a class="impressum" href="/impressum">Impressum</a>
            </div>
   
        </div>
    
        <script src="/assets/js/openCards.js"></script>

        <script>
            function mail(adress) {
                window.location.href = `mailto:${adress}`;
            }
        </script>
    </body>
</html>